# Python 3.11
accelerate
anthropic
bitsandbytes
colorama
datasets
evaluate
hydra-core
matplotlib
mistralai
networkx
numpy
openai
pandas
protobuf
python-dotenv
ripserplusplus
scikit-learn
scipy
seaborn
sentencepiece
spacy
tokenizers
torch
tqdm
transformers
unsloth
wandb
